<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card rounded-0">
    <div class="card-body">
      <span class="text-center db my-5">
        <img src="../assets/images/logo.png" alt="Aladdin Street" />
      </span>
      <form class="form-horizontal" #resetPasswordForm="ngForm" id="resetPasswordForm">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Reset Password</h3>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <label>New Password
              <span class="form-field-required">*</span>
            </label>
            <input class="form-control" type="password" [(ngModel)]="resetpassword.newPassword" name="newPassword"
              id="newPassword" [maxlength]="MAX_LENGTH_CONFIG.PASSWORD">
          </div>
        </div>
        <div class="form-group ">
          <label>Confirm Password
            <span class="form-field-required">*</span>
          </label>
          <div class="col-xs-12">
            <input class="form-control" type="password" [(ngModel)]="resetpassword.confirmPassword" name="confirmPassword"
              [maxlength]="MAX_LENGTH_CONFIG.PASSWORD">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-danger btn-block text-uppercase waves-effect waves-light" (click)="sendResetPasswordEmail()">Submit</button>
            <button type="reset" class="btn btn-inverse btn-block text-uppercase waves-effect waves-light">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
