<!-- ============================================================== -->
<!-- Bread crumb and Action Button -->
<!-- ============================================================== -->
<div class="card  box-shadow action-button--top">
  <div class="row">
    <!-- start Breadcrumb -->
    <div class="col-lg-5 align-self-center top-breadcrumb-action">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor m-b-0">{{pageInfo?.title | translate }}</h4>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb" *ngIf="pageInfo?.urls">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
              <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                <a href='javascript:void(0)'>{{url.title}}</a>
              </li>
              <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
            </ng-template>
          </ol>
        </div>
      </div>
    </div> <!-- # End Breadcrumb -->

    <!-- start Action Button -->
    <div class="col-lg-7 align-self-center">
        <div class="search-filter-header text-right">
            <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.BACK'| translate }}" (click)="back()">
              <i class="mdi mdi-arrow-left mr-2"></i> {{'COMMON.BUTTONS.BACK'| translate }}
            </button>
            <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.EDIT'| translate }}" (click)="onEdit()" *ngIf="getPermissionStatus(permissions, PERMISSION_ACTION.BRANDS.EDIT)">
              {{'COMMON.BUTTONS.EDIT'| translate }}
            </button>
            <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.DELETE'| translate }}" (click)="onDelete()" *ngIf="getPermissionStatus(permissions, PERMISSION_ACTION.BRANDS.DELETE)">
              {{'COMMON.BUTTONS.DELETE'| translate }}
            </button>
          </div>
    </div><!-- End Action Button -->
  </div>
</div><!-- # End Bread crumb and Action Button -->



<div class="table-responsive">
<table class="table table-striped table-bordered detail-view">
  <tr class="detail-view-item">
    <td>
      <strong>{{'COMMON.LABELS.ID'| translate }}</strong>
    </td>
    <td>
      <span>{{ data.entityId }}</span>
    </td>
  </tr>
  <tr class="detail-view-item">
      <td>
        <strong>{{'BRANDS.FORM_LABELS.NAME'| translate }}</strong>
      </td>
      <td>
        <span>{{ data.brandName }}</span>
      </td>
  </tr>
  <tr class="detail-view-item">
    <td>
      <strong>{{'BRANDS.FORM_LABELS.ICON'| translate }}</strong>
    </td>
    <td colspan="2">
      <div class="upload-document-grid mt-3">
        <div class="document-list__item" *ngIf="data.icon">
          <span class="file-icon">
            <i class="mdi mdi-file-image"> </i>
          </span>
          <div class="document-name">
            {{ data.iconName }}</div>
          <a [href]="data.icon" class="btn btn-link btn-download-file">
            <i class="mdi mdi-cloud-download"></i>
          </a>
        </div>
        <div *ngIf="!data.iconName">
          {{'N/A'| translate }}</div>
      </div>
    </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.IMAGE'| translate }}</strong>
  </td>
  <td>
  <div class="upload-document-grid mt-3">
    <div class="document-list__item" *ngIf="data.image">
      <span class="file-icon">
        <i class="mdi mdi-file-image"> </i>
      </span>
      <div class="document-name">
        {{ data.imageName }}</div>
      <a [href]="data.image" class="btn btn-link btn-download-file">
        <i class="mdi mdi-cloud-download"></i>
      </a>
    </div>
    <div *ngIf="!data.imageName">
      {{'N/A'| translate }}</div>
  </div>
</td>
</tr>

  <tr class="detail-view-item">
    <td>
      <strong>{{'BRANDS.FORM_LABELS.START_DATE'| translate }}</strong>
    </td>
    <td>
      <span>{{ data.startDate }}</span>
    </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.END_DATE'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.endDate }}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.LOCATION'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.locationText | translate}}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.LANDING_PAGE'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.landingPageText | translate }}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.SPECIFIED_PAGE'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.specifiedPageTitle }}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.CATEGORIES'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.categoriesName }}</span>
  </td>
</tr>

<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.PRODUCTS'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.productsName }}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.TOP_BRAND'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.topBrandText | translate}}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.LATEST_BRAND'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.latestBrandsText | translate}}</span>
  </td>
</tr>
<tr class="detail-view-item">
  <td>
    <strong>{{'BRANDS.FORM_LABELS.MONTH_BRAND'| translate }}</strong>
  </td>
  <td>
    <span>{{ data.monthBrandText| translate }}</span>
  </td>
</tr>
  <tr class="detail-view-item">
    <td>
      <strong>{{'COMMON.LABELS.STATUS'| translate }}</strong>
    </td>
    <td>
      <span class="badge badge-{{ data.isActiveKey }}">{{ data.isActiveKey }}</span>
    </td>
  </tr>
  <tr class="detail-view-item">
    <td>
      <strong>{{'APPROVAL.FORM_LABELS.LAST_UPDATED_ON'| translate }}</strong>
    </td>
    <td>
      <span>{{ data.updatedDate }}</span>
    </td>
  </tr>
  <tr class="detail-view-item">
    <td>
      <strong>{{'APPROVAL.FORM_LABELS.CREATED_ON'| translate }}</strong>
    </td>
    <td>
      <span>{{ data.createdDate }}</span>
    </td>
  </tr>
</table>
</div>
