<!-- ============================================================== -->
<!-- Bread crumb and Action Button -->
<!-- ============================================================== -->
<div class="card  box-shadow action-button--top">
  <div class="row">
    <!-- start Breadcrumb -->
    <div class="col-lg-5 align-self-center top-breadcrumb-action">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor m-b-0">{{pageInfo?.title | translate }}</h4>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb" *ngIf="pageInfo?.urls">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
              <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                <a href='javascript:void(0)'>{{url.title}}</a>
              </li>
              <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
            </ng-template>
          </ol>
        </div>
      </div>
    </div> <!-- # End Breadcrumb -->

    <!-- start Action Button -->
    <div class="col-lg-7 align-self-center">
      <div class="search-filter-header text-right">
        <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.BACK'| translate }}"  (click)="back()">
          <i class="mdi mdi-arrow-left mr-2"></i> {{'COMMON.BUTTONS.BACK'| translate }}
        </button>
        <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.CANCEL'| translate }}"  (click)="cancelButtonAction()">
          {{'COMMON.BUTTONS.CANCEL'| translate }}
        </button>
        <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.DELETE'| translate }}"  (click)="onDelete()" *ngIf="roleToken && getPermissionStatus(permissions, PERMISSION_ACTION.ROLE.DELETE) && role.defaultRole != 1">
          {{'COMMON.BUTTONS.DELETE'| translate }}
        </button>
      </div>
    </div><!-- End Action Button -->
  </div>
</div><!-- # End Bread crumb and Action Button -->

<div class="row">
  <div class="col-sm-12">
    <div class="card card-body">
      <form class="form-horizontal m-t-10" #roleForm="ngForm" id="roleForm" #roleForm>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>{{'ROLE.FORM_LABELS.NAME'| translate }}
              <span class="form-field-required">*</span>
            </label>
            <input type="text" class="form-control" placeholder="{{'ROLE.FORM_PLACEHOLDER.NAME'| translate }}" [(ngModel)]="role.roleName" name="name" [maxlength]="MAX_LENGTH_CONFIG.ROLE_NAME">
          </div>
          <div class="form-group col-sm-6">
            <label>{{'ROLE.FORM_LABELS.PERMISSIONS'| translate }}
              <span class="form-field-required">*</span>
            </label>
            <select class="form-control" [(ngModel)]="role.permissionType" name="permissionType" (change)="changeAll()">
              <option value="">{{'ROLE.FORM_PLACEHOLDER.ROLE_PERMISSIONS'| translate }}</option>
              <option *ngFor="let perm of PERMISSIONS;" [value]="perm.id">{{ perm.label }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6" *ngIf="role.permissionType == 2">
            <label>{{'ROLE.FORM_LABELS.ROLE_PERMISSIONS'| translate }}
            </label>
            <ul class="mt-2 role-list">
              <!-- ROLE LEVEL 1 -->
              <li *ngFor="let roleFirst of masterPermissions;">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck{{ roleFirst.moduleId }}" (change)="changeStatus(roleFirst, {}, {}, {}, 1)"
                    [checked]="roleFirst.isChecked">
                  <label class="custom-control-label" for="customCheck{{ roleFirst.moduleId }}">{{ roleFirst.moduleName }}</label>
                </div>
                <!-- ROLE LEVEL 2 -->
                <ul *ngIf="roleFirst.submenu.length > 0">
                  <li *ngFor="let roleSecond of roleFirst.submenu;">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck{{ roleSecond.moduleId }}" (change)="changeStatus(roleSecond, roleFirst, {}, {}, 2)"
                        [checked]="roleSecond.isChecked">
                      <label class="custom-control-label" for="customCheck{{ roleSecond.moduleId }}">{{ roleSecond.moduleName }}</label>
                    </div>
                    <!-- ROLE LEVEL 3 -->
                    <ul *ngIf="roleSecond.submenu.length > 0">
                      <li *ngFor="let roleThird of roleSecond.submenu;">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck{{ roleThird.moduleId }}" (change)="changeStatus(roleThird, roleFirst, roleSecond, {}, 3)"
                            [checked]="roleThird.isChecked">
                          <label class="custom-control-label" for="customCheck{{ roleThird.moduleId }}">{{ roleThird.moduleName }}</label>
                        </div>
                        <!-- ROLE LEVEL 4 -->
                        <ul *ngIf="roleThird.submenu.length > 0">
                          <li *ngFor="let roleFourth of roleThird.submenu;">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck{{ roleFourth.moduleId }}" (change)="changeStatus(roleFourth, roleFirst, roleSecond, roleThird, 4)"
                                [checked]="roleFourth.isChecked">
                              <label class="custom-control-label" for="customCheck{{ roleFourth.moduleId }}">{{ roleFourth.moduleName }}</label>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" title="{{'COMMON.BUTTONS.SAVE'| translate }}" class="btn btn-danger px-4" (click)="action()">{{'COMMON.BUTTONS.SAVE' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
