<div [ngClass]="'ui-fileupload ui-widget'" [ngStyle]="style" [class]="styleClass" *ngIf="mode === 'advanced'">
  <div class="ui-fileupload-buttonbar ui-widget-header ui-corner-top">
      <span class="ui-fileupload-choose"  icon="pi pi-plus"  [ngClass]="{'ui-state-focus': focus, 'ui-state-disabled':disabled}">
            <div class="custom-upload-file">
                <label class="btn btn-danger">
                    <i class="mdi mdi-cloud-upload"></i> Browse File
                    <input #advancedfileinput type="file" (change)="onFileSelect($event)" [multiple]="multiple" [accept]="accept" [disabled]="disabled" (focus)="onFocus()" (blur)="onBlur()">
                </label>
            </div>
      </span>

      <button *ngIf="!auto&&showUploadButton" type="button"  icon="pi pi-upload"  (click)="upload()" [disabled]="!hasFiles()">Upload</button>
      <button *ngIf="!auto&&showCancelButton" type="button"  icon="pi pi-times"  (click)="clear()" [disabled]="!hasFiles()">Cancel</button>

      <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  </div>
  <div #content [ngClass]="{'ui-fileupload-content ui-widget-content ui-corner-bottom':true}"
      (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <div *ngIf="msgs">
          <span [class]="msg.severity" *ngFor="let msg of msgs;let i=index;">{{i+1}}.) {{msg.detail}}</span>
      </div>
      <div class="ui-fileupload-files" *ngIf="hasFiles()">
          <div *ngIf="!fileTemplate">
              <div class="ui-fileupload-row" *ngFor="let file of files; let i = index;">
                  <div><img [src]="file.objectURL" *ngIf="isImage(file)" [width]="previewWidth" /></div>
                  <div>{{file.name}}</div>
                  <div>{{formatSize(file.size)}}</div>
                  <div><button type="button" icon="pi pi-times"  (click)="remove($event,i)">Remove</button></div>
              </div>
          </div>
          <div *ngIf="fileTemplate">
              <ng-template ngFor [ngForOf]="files" [ngForTemplate]="fileTemplate"></ng-template>
          </div>
      </div>
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>

<span *ngIf="mode === 'basic'" [ngClass]="{'ui-button ui-fileupload-choose ui-widget ui-state-default ui-corner-all ui-button-text-icon-left': true,
      'ui-fileupload-choose-selected': hasFiles(),'ui-state-focus': focus, 'ui-state-disabled':disabled}"
      [ngStyle]="style" [class]="styleClass" (mouseup)="onSimpleUploaderClick($event)">
  <span class="ui-button-icon-left pi" [ngClass]="{'pi-plus': !hasFiles()||auto, 'pi-upload': hasFiles()&&!auto}"></span>
  <span class="ui-button-text ui-clickable">{{auto ? chooseLabel : hasFiles() ? files[0].name : chooseLabel}}</span>
  <input #basicfileinput type="file" [accept]="accept" [multiple]="multiple" [disabled]="disabled"
      (change)="onFileSelect($event)" *ngIf="!hasFiles()" (focus)="onFocus()" (blur)="onBlur()">
</span>
