<!-- ============================================================== -->
<!-- Bread crumb and Action Button -->
<!-- ============================================================== -->
<div class="card  box-shadow action-button--top">
    <div class="row">
      <!-- start Breadcrumb -->
      <div class="col-lg-5 align-self-center top-breadcrumb-action">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor m-b-0">{{pageInfo?.title | translate }}</h4>
          </div>
          <div class="col-md-7 align-self-center">
            <ol class="breadcrumb" *ngIf="pageInfo?.urls">
              <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
                <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                  <a href='javascript:void(0)'>{{url.title}}</a>
                </li>
                <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
              </ng-template>
            </ol>
          </div>
        </div>
      </div> <!-- # End Breadcrumb -->
  
      <!-- start Action Button -->
      <div class="col-lg-7 align-self-center">
        <div class="search-filter-header text-right">
          <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.BACK'| translate }}" (click)="back()">
            <i class="mdi mdi-arrow-left mr-2"></i> {{'COMMON.BUTTONS.BACK'| translate }}
          </button>
          <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.CANCEL'| translate }}" (click)="cancelButtonAction()">
            {{'COMMON.BUTTONS.CANCEL'| translate }}
          </button>
          <button type="button" class="btn btn-inverse px-4" title="{{'CUSTOMER.BUTTONS.RESET_PASSWORD'| translate }}" *ngIf="isEditSection" (click)="resetPassword()">
            {{'CUSTOMER.BUTTONS.RESET_PASSWORD'| translate }}
          </button>
          <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.DELETE'| translate }}" (click)="onDelete()" *ngIf="customerToken && getPermissionStatus(permissions, PERMISSION_ACTION.CUSTOMER.DELETE)">
            {{'COMMON.BUTTONS.DELETE'| translate }}
          </button>
        </div>
      </div><!-- End Action Button -->
    </div>
  </div><!-- # End Bread crumb and Action Button -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-body">
        <form class="form-horizontal m-t-10" #customerForm="ngForm" id="customerForm" #customerForm>
          <div class="row">
            <div class="form-group col-sm-6">
                <label>{{'CUSTOMER.FORM_LABELS.FIRST_NAME'| translate }} <span class="form-field-required">*</span></label>
                <input type="text" placeholder="{{'CUSTOMER.FORM_LABELS.FIRST_NAME'| translate }}"  class="form-control"   [maxlength]="MAX_LENGTH_CONFIG.MAX_100" [(ngModel)]= "customer.firstname" name="firstname">
            </div>
            <div class="form-group col-sm-6">
                <label>{{'CUSTOMER.FORM_LABELS.LAST_NAME'| translate }} <span class="form-field-required">*</span></label>
                <input type="text" placeholder="{{'CUSTOMER.FORM_LABELS.LAST_NAME'| translate }}" class="form-control" [maxlength]="MAX_LENGTH_CONFIG.MAX_100" [(ngModel)]= "customer.lastname" name="lastname">
            </div>
            <div class="form-group col-sm-6">
                <label>{{'CUSTOMER.FORM_LABELS.EMAIL'| translate }} <span class="form-field-required">*</span></label>
                <input type="text" placeholder="{{'CUSTOMER.FORM_LABELS.EMAIL'| translate }}" class="form-control" [maxlength]="MAX_LENGTH_CONFIG.MAX_100" name="email" [(ngModel)]= "customer.email">
            </div>
            <div class="form-group col-sm-6">
              <label>{{'CUSTOMER.FORM_LABELS.SIGNUP_PLATFORM'| translate }} <span class="form-field-required">*</span></label>
              <select class="form-control" [attr.disabled]="customer.signUpPlatform == 1" [disabled]="isEditSection" [(ngModel)]= "customer.signUpPlatform" name="platform" [ngModelOptions]="{standalone: true}">
                  <option value='' selected = "selected">{{defaultFont.label}}
                  </option>
                  <option *ngFor ="let platform of platforms" [attr.value]="platform.value">
                  {{platform.label}}
                </option>
              </select>
          </div>
            <div class="form-group col-sm-6">
                <label>{{'CUSTOMER.FORM_LABELS.SIGNUP_METHOD'| translate }} <span class="form-field-required">*</span></label>
                <select class="form-control" [attr.disabled]="customer.signUpMethod == 1" [disabled]="isEditSection" [(ngModel)]= "customer.signUpMethod" name="platform" [ngModelOptions]="{standalone: true}">
                    <option value='' selected = "selected">{{defaultFont.label}}
                    </option>
                    <option *ngFor ="let method of signupMethods" [attr.value]="method.value">
                        {{method.label}}
                      </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label>{{'CUSTOMER.FORM_LABELS.REGISTERED_USING_CODE'| translate }}</label>
                <input type="text" [disabled] = "isEditSection" placeholder="{{'CUSTOMER.PLACEHOLDER.REGISTERED_USING_CODE'| translate }}" class="form-control"  [maxlength]="MAX_LENGTH_CONFIG.TXT_FIELD_DEFAULT" name="referalCode" [(ngModel)]= "customer.referalCode">
            </div>
            <div class="form-group col-sm-6">
              <label>{{'COMMON.LABELS.STATUS'| translate }}
                  <span class="form-field-required">*</span>
                </label>
                <select class="form-control" name="isActive" [(ngModel)]="customer.isActive">
                  <!-- <option value="">{{'COUNTRY.FORM_PLACEHOLDER.STATUS'| translate }}</option> -->
                  <option *ngFor="let status of STATUS_OPTIONS;" [value]="status.value">{{ status.label }}</option>
                </select>
            </div>
            <div class="form-group col-sm-6" *ngIf="isEditSection">
              <label>{{'CUSTOMER.FORM_LABELS.CREATED_BY'| translate }}</label>
              <input type="text" [attr.disabled] = "true" class="form-control" [(ngModel)]= "customer.createdByName" name="createdByName">
            </div>
            <div class="form-group col-sm-12">
                <label>{{'CUSTOMER.FORM_LABELS.KYC_DOCUMENT'| translate }}</label>
                <p-fileUpload name="iconImage" multiple="false" [disabled]="customer.upload ||customer.kycDocument"  [accept]="validExtensions"
                auto="true" maxFileSize="10000000" invalidFileSizeMessageDetail="{{ 'MAX_FILE_SIZE' | translate }}" invalidFileTypeMessageDetail="{{ 'FILE_FORMAT_EXCEPTED' | translate }}" customUpload="true" (onError)="onError($event)"  (onSelect)="onSelect($event,'iconImage')" (uploadHandler)="onFileUpload($event,'iconImage')"
                  >
                </p-fileUpload>
                <div class="upload-document-grid mt-3">
                  <div class="document-list__item" *ngIf="customer.upload || customer.kycDocument">
                    <span class="file-icon">
                      <i class="mdi mdi-file-image"> </i>
                    </span>
                    <div class="document-name" title="Mobile Image Name" *ngIf="customer.kycDocumentName">{{customer.kycDocumentName}}</div>
                    <a [href]="customer.upload || customer.kycDocument" class="btn btn-link btn-download-file">
                      <i class="mdi mdi-cloud-download"></i>
                    </a>
                    <button *ngIf="!isDetailSection" (click)="onRemove()" type="button" class="btn btn-link btn-delete-file">
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-danger px-4" title="{{'COMMON.BUTTONS.SAVE'| translate }}" (click)="action()">{{'COMMON.BUTTONS.SAVE' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>