<!-- ============================================================== -->
<!-- Bread crumb and Action Button -->
<!-- ============================================================== -->
<div class="card  box-shadow action-button--top">
  <div class="row">
    <!-- start Breadcrumb -->
    <div class="col-lg-5 align-self-center top-breadcrumb-action">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor m-b-0">{{pageInfo?.title | translate }}</h4>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb" *ngIf="pageInfo?.urls">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
              <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                <a href='javascript:void(0)'>{{url.title}}</a>
              </li>
              <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
            </ng-template>
          </ol>
        </div>
      </div>
    </div> <!-- # End Breadcrumb -->

    <!-- start Action Button -->
    <div class="col-lg-7 align-self-center">
      <div class="search-filter-header text-right">
        <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.BACK'| translate }}" (click)="back()">
          <i class="mdi mdi-arrow-left mr-2"></i> {{'COMMON.BUTTONS.BACK'| translate }}
        </button>
        <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.CANCEL' | translate}}" (click)="cancelButtonAction()">
          {{'COMMON.BUTTONS.CANCEL' | translate}}
        </button>
        <button *ngIf="document_type_token && getPermissionStatus(permissions, PERMISSION_ACTION.DOCUMENT.DELETE)" title="{{'COMMON.BUTTONS.DELETE' | translate}}" type="button" class="btn btn-inverse px-4" (click)="onDeleteDocumentType()">{{'COMMON.BUTTONS.DELETE' | translate}}</button>
      </div>
    </div><!-- End Action Button -->
  </div>
</div><!-- # End Bread crumb and Action Button -->

<div class="row">
    <div class="col-sm-12">
      <div class="card card-body">
        <form class="form-horizontal m-t-10" id="addDocumentTypeForm" #addDocumentTypeForm>
          <div class="row">
            <div class="form-group col-sm-6">
              <label>{{'DOCUMENT_TYPE.FORM_LABLES.NAME'| translate }}
                <span class="form-field-required">*</span>
              </label>
              <input type="text" class="form-control" placeholder="{{'DOCUMENT_TYPE.FORM_PLACEHOLDER.NAME'| translate }}" [maxlength]="MAX_LENGTH_CONFIG.TXT_FIELD_DEFAULT" [(ngModel)]="documentType.documentTypeName" name="documentTypeName">
            </div>
            <div class="form-group col-sm-6">
              <label>{{'DOCUMENT_TYPE.FORM_LABLES.STATUS'| translate }}
                <span class="form-field-required">*</span>
              </label>
              <select class="form-control" name="status" [(ngModel)]="documentType.status">
                <option value="">{{'DOCUMENT_TYPE.FORM_PLACEHOLDER.STATUS'| translate }}</option>
                <option *ngFor="let sts of STATUS_OPTIONS;" [value]="sts.id">{{ sts.value }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-danger px-4" title="{{'COMMON.BUTTONS.SAVE'| translate }}" (click)="documentTypeAction()" >{{'COMMON.BUTTONS.SAVE' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
