<!-- Contact Person Step 1 Content Details -->
<div >
    <h4 class="mb-4">{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.TITLE'| translate }}</h4>
    <form class="form-horizontal m-t-10"  id="contactMerchantForm" #contactMerchantForm>
      <!-- Form Control Fields -->
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.CONTACT_PERSON'| translate }} <span class="form-field-required">*</span></label>
            <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.CONTACT_PERSON'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.ALPHANUMERIC_CHARACTER" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.TXT_FIELD_DEFAULT" name="contactPerson" [(ngModel)]= "contactMerchant.contactPerson">
          </div>

          <div class="form-group">
            <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.DESIGNATION'| translate }} <span class="form-field-required">*</span></label>
            <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.DESIGNATION'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.ALPHANUMERIC_CHARACTER" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.TXT_FIELD_DEFAULT" name="designation" [(ngModel)]= "contactMerchant.designation">
          </div>

          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.TELEPHONE'| translate }} <span class="form-field-required">*</span></label>
                <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.TELEPHONE'| translate }}" class="form-control"  [restrict]="REG_EXP_CONFIG.NUMERIC" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.TELEPHONE" name="telephone" [(ngModel)]= "contactMerchant.telephone">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.EXT'| translate }} <span class="form-field-required">*</span></label>
                <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.EXT'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.NUMERIC" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.EXTENSION_TXT_MAX_LENGTH" name="extensionNumber" [(ngModel)]= "contactMerchant.extensionNumber">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.EMAIL'| translate }} <span class="form-field-required">*</span></label>
            <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.EMAIL'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.EMAIL_CHARACTER" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.EMAIL" name="email" [(ngModel)]= "contactMerchant.email">
          </div>

          <div class="form-group">
            <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.MOBILE_1'| translate }} <span class="form-field-required">*</span></label>
            <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.MOBILE_1'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.NUMERIC" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.MOBILE_NUMBER" name="phoneNumber1" [(ngModel)]= "contactMerchant.phoneNumber1">
          </div>

          <div class="form-group">
            <label>{{'MANAGE_MERCHANT.ADD_MERCHANT.CONTACT_PERSON.MOBILE_2'| translate }} </label>
            <input type="text" placeholder="{{'MANAGE_MERCHANT.ADD_MERCHANT.FORM_PLACEHOLDER.CONTACT_PERSON.MOBILE_2'| translate }}" class="form-control" [restrict]="REG_EXP_CONFIG.NUMERIC" [disabled]="isDetailSection"  [maxlength]="MAX_LENGTH_CONFIG.MOBILE_NUMBER" name="phoneNumber2" [(ngModel)]= "contactMerchant.phoneNumber2">
          </div>

        </div>
      </div>

      <!-- Action Button -->
      <div class="row action-button" *ngIf="!isDetailSection" >
        <div class="col-12 text-right">
          <button type="button" class="btn btn-inverse px-4" title="{{'COMMON.BUTTONS.PREVIOUS'| translate }}" (click)="moveToPrevious()">
            <i class="mdi mdi-arrow-left mr-2"></i>
            {{'COMMON.BUTTONS.PREVIOUS'| translate }}
          </button>

          <button type="submit" title="{{'COMMON.BUTTONS.SAVE_AND_CONTINUE'| translate }}" class="btn btn-danger px-4" (click)= "onNextClick()">
            {{'COMMON.BUTTONS.SAVE_AND_CONTINUE'| translate }}
          </button>

        </div>
      </div>
    </form>
  </div>
