
/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
.fa.fa-arrow-circle-left{

    font-size: 29px;
    margin-right: 1%;
    color: #ef5350;
    cursor: pointer;
}
.sortable .hand-cursor{
  cursor: pointer;
}
